version: "3.9"
   
services:
  jupyter:
    image: pysark-3.4.0-deltalake:latest
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/mnt/notebooks:rw
      - ./datalake:/mnt/datalake:rw
    environment:
      JUPYTER_ENABLE_LAB: "yes"
    command: "start-notebook.sh --NotebookApp.token='' --NotebookApp.password=''"

